@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

body{
  background-color: #F1EFEF;
  /* background-image: url('../public/galaxy.avif');
  background-attachment: fixed;
  background-size: cover; */
}
